# H1
## H2
### H3

# Ujicoba Praktikum 1

In [1]:
print("Menampilkan tulisan")
print("Menampilkan kedua")

Menampilkan tulisan
Menampilkan kedua

# Tipe Data

In [2]:
print(type(20))
print(type(2.3))

<class 'int'>
<class 'float'>

In [3]:
print(1+3)
print(2*4)

4
8

- Penjumlahan +
- Pengurangan -
- Pembagian /
- Perkalian *
- Pangkat **
- Sisa bagi %
- Pembagian integer //

- Math operators
- bool
- str

In [4]:
print("Hello World".upper())
print("Hello World".lower())
print("Hello World".title())

HELLO WORLD
hello world
Hello World

# Variables

In [5]:
message_1 = "Ini belajar python" # ini otomatis bernilai string
message_2 = 4 # ini otomatis bernilai int

In [6]:
# Hanya bisa menampilkan satu data saja
message_1

'Ini belajar python'

In [7]:
# Concat
kata_1 = "Almanudin"
kata_2 = "2310010676"
kata_1 + kata_2

'Almanudin2310010676'

In [8]:
kata_1 + " : " + kata_2

'Almanudin : 2310010676'

In [9]:
kata = f'{kata_1} {kata_2}'
kata

'Almanudin 2310010676'

# List

In [10]:
countries = ['Indonesia','Malaysia','Jepang','Brunei Darussalam']
print(countries)
print(countries[1])
print(countries[-3])

['Indonesia', 'Malaysia', 'Jepang', 'Brunei Darussalam']
Malaysia
Malaysia

# Slicing

In [11]:
# start(banyak data)
print(countries[0:3:3])
print(countries[0:2])
print(countries[1:])
print(countries[:2])

['Indonesia']
['Indonesia', 'Malaysia']
['Malaysia', 'Jepang', 'Brunei Darussalam']
['Indonesia', 'Malaysia']

# Menambahkan Elemet

In [12]:
countries = ['Indonesia','Malaysia','Jepang','Brunei Darussalam']
countries.append("Singapura")
countries

['Indonesia', 'Malaysia', 'Jepang', 'Brunei Darussalam', 'Singapura']

In [13]:
#insert = menyelipkan
countries.insert(1,"Thailand")
countries

['Indonesia',
 'Thailand',
 'Malaysia',
 'Jepang',
 'Brunei Darussalam',
 'Singapura']

In [14]:
countries_2 = ["Timor Leste", "Filipina","Myanmar"]
negara_gabungan = countries + countries_2
negara_gabungan

['Indonesia',
 'Thailand',
 'Malaysia',
 'Jepang',
 'Brunei Darussalam',
 'Singapura',
 'Timor Leste',
 'Filipina',
 'Myanmar']

# Menghapus elemen

In [15]:
countries = ['Indonesia','Malaysia','Jepang','Brunei Darussalam']
print(countries)

# remove = hapus nama datanya
countries.remove('Malaysia')
print(countries)

# pop = menghapus alamatnya atau index nya
countries.pop(2) # 
print(countries)

# del
del countries[1]
print(countries)

['Indonesia', 'Malaysia', 'Jepang', 'Brunei Darussalam']
['Indonesia', 'Jepang', 'Brunei Darussalam']
['Indonesia', 'Jepang']
['Indonesia']

# Sorting a list / Mengurutkan data

In [16]:
# Sort = mengurutkan dari angka kecil kebesar
angka = [1,5,8,9,2,5,6,3,3,9,10]
angka.sort()
angka

[1, 2, 3, 3, 5, 5, 6, 8, 9, 9, 10]

In [17]:
# Sort.reverse = mengurutkan dari angka besar ke kecil
angka.sort(reverse=True)
angka

[10, 9, 9, 8, 6, 5, 5, 3, 3, 2, 1]

In [18]:
#update
angka[0] = 100
angka

[100, 9, 9, 8, 6, 5, 5, 3, 3, 2, 1]

In [19]:
angka.sort()
angka

[1, 2, 3, 3, 5, 5, 6, 8, 9, 9, 100]

In [20]:
countries = ['Indonesia','Malaysia','Jepang','Brunei Darussalam']
list_baru = countries[:]
list_baru_2 = countries.copy()
print(list_baru)
print(list_baru_2)

['Indonesia', 'Malaysia', 'Jepang', 'Brunei Darussalam']
['Indonesia', 'Malaysia', 'Jepang', 'Brunei Darussalam']

# Dictionary / Array multidimensi

In [21]:
data1 = {'nama' : 'Alman', 
         'npm' : 2310010676,
         'alamat' : 'Tarusan',
         'menikah' : False
         }
data1

{'nama': 'Alman', 'npm': 2310010676, 'alamat': 'Tarusan', 'menikah': False}

In [22]:
data1.keys()

dict_keys(['nama', 'npm', 'alamat', 'menikah'])

In [23]:
print(data1.keys()) # Kunci nya
print(data1['nama'])
print(data1['npm'])
print(data1['alamat'])
print(data1.values()) # Nilai nya
print(data1.items()) # Kunci dan nilainya

dict_keys(['nama', 'npm', 'alamat', 'menikah'])
Alman
2310010676
Tarusan
dict_values(['Alman', 2310010676, 'Tarusan', False])
dict_items([('nama', 'Alman'), ('npm', 2310010676), ('alamat', 'Tarusan'), ('menikah', False)])

In [24]:
data1['tinggi'] = 170
print(data1.items())

dict_items([('nama', 'Alman'), ('npm', 2310010676), ('alamat', 'Tarusan'), ('menikah', False), ('tinggi', 170)])

In [25]:
data1.update({'nama' : 'Almanudin', 'bahasa' : ['indonesia','inggris', 'Sunda']})
data1

{'nama': 'Almanudin',
 'npm': 2310010676,
 'alamat': 'Tarusan',
 'menikah': False,
 'tinggi': 170,
 'bahasa': ['indonesia', 'inggris', 'Sunda']}

In [26]:
dataDia = data1.copy()
dataDia

{'nama': 'Almanudin',
 'npm': 2310010676,
 'alamat': 'Tarusan',
 'menikah': False,
 'tinggi': 170,
 'bahasa': ['indonesia', 'inggris', 'Sunda']}

In [27]:
dataDia.pop('menikah')
dataDia

{'nama': 'Almanudin',
 'npm': 2310010676,
 'alamat': 'Tarusan',
 'tinggi': 170,
 'bahasa': ['indonesia', 'inggris', 'Sunda']}

In [28]:
del dataDia['tinggi']
dataDia

{'nama': 'Almanudin',
 'npm': 2310010676,
 'alamat': 'Tarusan',
 'bahasa': ['indonesia', 'inggris', 'Sunda']}

In [29]:
dataDia.clear()
dataDia

{}

# If statemenet

In [30]:
age = 16

if age >= 18:
    print("Anda Dewasa")
elif age >=13:
    print("Anda remaja")
else:
    print("Anda bocah")

Anda remaja

In [31]:
countries = ['United Stated','India','China','Brazil']

if 'China' in countries:
    print("Negara dalam list")
else:
    print("Negara tidak dalam list")

Negara dalam list

# For Looping (Perulangan)

In [32]:
for country in countries:
    print(country)

United Stated
India
China
Brazil

In [33]:
for negara in countries:
    print(negara)

print("=========")

for negara in countries:
    if negara == 'Indonesia':
        print(negara)

print("=========")

for i, negara in enumerate(countries):
    print(i, negara)

United Stated
India
China
Brazil
=========
=========
0 United Stated
1 India
2 China
3 Brazil

In [34]:
def sum_values(a,b):
    x = a+b
    # if x < 10:
    #     x= x*10
    return x

In [35]:
print(sum_values(10,2))
print(sum_values(9,20))
print(sum_values(15,200))

12
29
215